<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe
    src="{{ iframe_url }}"
    frameborder="0"
    width="800"
    height="600"
    allowtransparency
></iframe>
</body>
</html>